[submodule "zstgblog/public"]
	path = zstgblog/public
	url = https://github.com/zstg/zstg.github.io
	branch = main
[submodule "zstgblog/themes/terminal"]
	path = zstgblog/themes/terminal
	url = https://github.com/panr/hugo-theme-terminal
